
body {
    font-size: 16px;
}

section header {
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    margin: 25px 0;
    padding-bottom: 25px;
}

.title1 {
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.2;
}

.title2 {
    font-size: 1.25rem;
    font-weight: 300;
    margin: 10px;
}

.list-horizontal .list-item {
    display: inline-block;
}

.row {
    display: flex;
}

.row .col {
    flex: 50%;
}

.button {
    padding: 5px 15px;
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
    border-radius: 3px;
}

.button:hover {
    background-color: #5a6268;
    border-color: #545b62;
}

.site-nav {
    background-color: rgb(248, 249, 250);
}

.site-nav .list-item {
    padding: 15px 5px;
}

.site-nav .list-item:first-of-type {
    margin-left: 10px;
}

.banner {
    background-color: #e9ecef;
    height: 600px;
    width: 1046px;
    padding: 15px 15px 15px 15px;
    margin: 0 auto;
}

.banner:before {
    background-image: url("/static/animals_banner.png");
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    content: "";
    height: 300px
}